<div class="mb-3">
    <input 
    type={{type}}
    [class.is-invalid]="control.touched && control.invalid"
    class="form-control"
    [formControl]="control"
    placeholder={{lable}}>
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Please enter a {{lable}}.
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
        {{lable}} must be at least {{control.errors?.['minlength'].requiredLength}} charecters.
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
        {{lable}} must be at most {{control.errors?.['maxlength'].requiredLength}} charecters.
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
        Password does not matched Confirm Password.
    </div>
</div>
